<div class="hidden-xs hidden-sm col-md-3 author_picture">
  <%= image_tag "profile/penguin.jpg", :class => "img-responsive" %>
</div>

<div class="col-xs-12 col-sm-12 col-md-9 review">
  <div class="col-xs-12">
    <div class="col-xs-4 author">
      <%= review.user_id %>
    </div>
    <div class="col-xs-4 timestamp">
      <%= review.created_at %>
    </div>
    <div class="col-xs-4 rating">
      <%= review.rating %>
    </div>
  </div>
  <div class="col-xs-12 comment">
    <%= review.message %>
  </div>
</div>