<div class="container">
  <div class="row">
    <div class="col-xs-12 product_Name">
      <h1><%= @product.product_name %></h1>
    </div>
    <div class="col-xs-12">
      <span class="col-xs-12 col-sm-4 text-center product_Picture">
        <%= image_tag "neckcushion.jpg", :class => "img-responsive" %>
      </span>
      <span class="col-xs-12 col-sm-6 col-sm-offset-1 product_Details">
        <div class="details">Product Name: <%= @product.product_name %></div>
        <div class="details">Brand: <%= @product.brand %></div>
        <div class="details">Price: $<%= @product.price %></div>
        <div class="details">Found at: <%= @product.found_at %></div>
        <div class="details">Description: <%= @product.description %>
        </div>
      </span>
    </div>
    <!-- Product review section -->
    <div class="col-xs-12"><h3>Product Review</h3></div>

    <div class="col-xs-12 text-center product_Review">
      <div class="hidden-xs hidden-sm col-md-3 author_picture">
        <%= image_tag "profile/penguin.jpg", :class => "img-responsive" %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-9 review">

        <%= @reviews.each do |review| %>
          <div class="col-xs-12">
            <div class="col-xs-4 author"> <%= review.user_id %> </div>
            <div class="col-xs-4 timestamp"> <%= review.created_at %></div>
            <div class="col-xs-4 rating"> <%= review.rating %> </div>
          </div>
          <div class="col-xs-12 comment">
            <%= review.message %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- prompt logged in user to comment -->
    <div class="col-xs-12">
      <div class="hidden-xs hidden-sm col-md-3 author_picture">
        <%= image_tag "profile/lion.jpg", :class => "img-responsive" %>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-9 new-review">
        <%= form_for Review.new, :method => :post do |f| %>
          <div>
            <%= f.text_area :message, :type => "text", :row => "3", :class=> "col-xs-12 newComment", :placeholder => "Enter your review here" %> 
            <%= f.text_field :product_id, :value => @product.id, :type => "hidden" %>
          </div>

          <div class="col-xs-12" id="like-dislike">

            <button type="submit" value="submit" id="submit-posbutton">I'd recommend it</button>
            <button type="submit" value="submit" id="submit-negbutton">I'd return it</button>

            <%= f.submit "SUBMIT", :id => "submit-button" %>
           <!--  <button type="submit" value="submit" id="submit-button"></button>  -->
          </div>
        <% end %>
      </div>

    </div>

    <!-- close row and container -->
  </div>
</div>

