<div class="container">
  <div class="row">
    <div class="col-xs-12 product_Name">
      <h1><%= @product.product_name %></h1>
    </div>
    
    <div class="col-xs-12">
      <span class="col-xs-12 col-sm-4 text-center product_Picture">
        <%= image_tag "product/neckcushion.jpg", :class => "img-responsive img-thumbnail" %>
      </span>
      <span class="col-xs-12 col-sm-7 col-sm-offset-1 product_Details">
        <div class="details"><h4>Product Name:</h4><%= @product.product_name %></div>
        <div class="details"><h4>Brand: </h4> <%= @product.brand %></div>
        <div class="details"><h4>Price: </h4> $<%= @product.price %></div>
        <div class="details"><h4>Found at: </h4><%= @product.found_at %></div>
        <div class="details"><h4>Description: </h4><%= @product.description %>
        </div>
      </span>
    </div>
    <!-- Product review section -->
    <div class="col-xs-12"><h3>Product Review</h3></div>

    <div class="col-xs-12 text-center product_Review">
      <% @reviews.each do |review| %>

        <%= render :partial => "review", :locals => {:review => review} %>
      <% end %>
    </div>

    <!-- prompt logged in user to comment -->
    <div class="col-xs-12 new-review">
      <% if current_user %>

        <div id="new-form">
          <%= form_for Review.new, :remote => true, :method => :post do |f| %>
            <div class="hidden-xs hidden-sm col-md-3 author_picture">
              <%= image_tag "profile/lion.jpg", :class => "img-responsive img-circle" %>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 ">
              <div>
                <%= f.text_area :message, :type => "text", :row => "3", :class=> "col-xs-12 newComment", :placeholder => "Enter your review here" %> 
                <%= f.text_field :product_id, :value => @product.id, :type => "hidden" %>
              </div>
              <div class="col-xs-12" id="like-dislike">
                  <!-- <input type="checkbox" value="uncheck" id="submit-posbutton">I'd recommend it
                  <input type="checkbox" value="uncheck" id="submit-negbutton">I'd return it -->
                  <%= f.radio_button :rating, 1, :id => "submit-posbutton" %> I'd recommend it 
                  <%= f.radio_button :rating, -1, :id => "submit-negbutton" %> I'd return it 
                  <%= f.submit "SUBMIT", :id => "submit-button", :class => "btn btn-success btn-sm" %>
              </div>
            </div>
            <div class="col-xs-12 error_message">
            </div>
          <% end %>
        </div>
        <div id="update-form" style="display: none;">
        </div>

      <% else %>
        <h4>Please sign in to enter your review!</h4> 
      <% end %>
    </div>
    <!-- close row and container -->
  </div>
</div>

